
.paginado{
  background-color: blue;
  width: 100%;
  height: 50px;
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-between; */
}

.numberPerPage{
  display: inline-flex;
  color:yellow;
  background-color: aqua;
  justify-content: center;
}

.numberPerPage:hover{
  cursor:cell;
}