.containerNavBar{
  background-color: aliceblue;
  display: grid;
  grid-template-columns:  0.3fr 1fr 0.5fr; 
  height: 100px;
  margin: 10px;
  border-radius: 10px ;
}

.containerImage{
 justify-items: center;
}

.logoImage{
  width: 90px;
  height: 90px;
  opacity: .8;
}

.containerSearchBar{
  background-color: red;
  display: grid;
  align-self: center;
}

.buttonAndInput{
  background-color: aliceblue;
  height: 100%;
}

.buttonAndInput button{
  margin-right: 10px;
}


.containerCreate{
  background-color: #f1ff;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
