.containerNavBar{
  background-image: url("../../images/background-landing.jpg");
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns:  0.2fr 1fr .5fr; 
  height: 100px;
  border: 0; 
  margin: 0;
}

.containerImage{
  display: flex;
  align-items: center;
 justify-content: center;
}

.logoImage{
  width: 70px;
  height: 70px;
  opacity: .9;
  border-radius: 50%;
  animation-name: girarb;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
  cursor: pointer;
}
@keyframes girarb {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

.containerSearchBar{
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttonAndInput {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.containerCreate {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.create{
  font-Family: Arial, sans-serif;
  font-Weight: bold;
  border-Radius: 8px;
  padding: 12px 24px;
  font-Size: 16px;
  background: linear-gradient(45deg, #C1752E 30%, #BE9161 90%);
  color: white;
  box-Shadow: 0 3px 5px 2px #BE9161(255, 105, 135, .3);
}

.create:hover {
  background: linear-gradient(45deg, #BE9161 30%, #C1752E 90%);
  cursor: pointer;
}

.lupa{
  width: 50px;
  height: 50px;
}
.lupa:hover{
  width: 55px;
  height: 55px;
  cursor:pointer;
}

.inputSearch input {
  width: 200px; 
  height: 25px;
  border-radius: 5px;
}

.containerLogOut{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100px;
}

.logOut{
  font-Family: Arial, sans-serif;
  font-Weight: bold;
  border-Radius: 8px;
  padding: 12px 24px;
  font-Size: 16px;
  background: linear-gradient(45deg, #C1752E 30%, #BE9161 90%);
  color: white;
  box-Shadow: 0 3px 5px 2px #BE9161(255, 105, 135, .3);
}

.nombre{
  font-family: Arial, sans-serif;
  font-Size: 16px;
  display: grid;
  align-items: center;
  width: 100px;
  height: 43px; 
  font-weight: bold;
  border-radius: 10px;
  background-color:#222E38;
  text-shadow: 3px 2px 5px #000000;
  color: white;
}
